<% layout('layouts/boilerplate')%>
<h1>Campgrounds</h1>
<!-- <div class="row">
    <% for (let campground of campgrounds){%>
    <div class="col-md-6 col-lg-3 index-col card">
        <%if(campground.images.length) {%>
        <img class="img-fluid card-img-top" alt="" src="<%=campground.images[0].url%>" style="height: 40vh; object-fit: cover;">
        <% }else {%>
        <img class="img-fluid" alt=""
            src="https://res.cloudinary.com/douqbebwk/image/upload/v1600103881/YelpCamp/lz8jjv2gyynjil7lswf4.png">
        <% } %>
        <div class="card-body pl-1" style="height: 40vh;">
            <h5 class="card-title"><%= campground.title %> </h5>

            <p class="card-text"><%= campground.description %></p>
            <p class="card-text">
                <small class="text-muted"><%= campground.location%></small>
            </p>
            <a class="btn btn-primary" href="/campgrounds/<%=campground._id%>">View <%=campground.title%></a>
        </div>
    </div>
    <% }%>
</div> -->

<div class="flex-control">
    <% for (let campground of campgrounds){%>
    <div class="card index-card">
        <%if(campground.images.length) {%>
            <img class="card-img-top" alt="" src="<%=campground.images[0].url%>">
        <% }else {%>
            <img class="card-img-top" alt=""
                src="https://res.cloudinary.com/douqbebwk/image/upload/v1600103881/YelpCamp/lz8jjv2gyynjil7lswf4.png">
        <% } %>
        <div class="card-body">
            <h5 class="card-title"><%= campground.title %></h5>
            <p class="card-text"><%= campground.description %></p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item text-muted"><%= campground.location%></li>
        </ul>
        <div class="card-body">
            <a class="card-link index-link" href="/campgrounds/<%=campground._id%>">View <%=campground.title%></a>
        </div>
    </div>
    <% }%>
</div>
